<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przerwa techniczna</title>
</head>
<body>
    <div class="d">
        <p>Nic tu nie ma</p>
        <a href="/"><p>Strona główna</p></a>
    </div>
</body>
<style>
    .d {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 115px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
</style>
</html>