{% extends "core.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/demo.css">
{% endblock %}
{% block content %}
<div style="width:700px; margin-left: auto; margin-right: auto;">
    <h1 style="margin-left: auto; margin-right: auto; color: #fff">NUDESY SKANERA</h1>
    <video id="app", style="width:100%;">
        <source src="https://shinesubs.b-cdn.net/nudesy/nudesy.mp4" type="video/mp4" />
    </video>
</div>
<script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
<script>
    const player = new Plyr('#app', {
        previewThumbnails: {
            enabled: false
        }
    });
</script>
{% endblock %}